@model TaskVM
<style>
    .select2-container--default .select2-selection--multiple .select2-selection__choice {
        background-color: dimgrey !important;
    }
</style>
@section Styles{
    <link href="~/lib/datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
}
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<div class="card card-secondary mx-auto">
    <div class="card-header">
        <h3 class="card-title">@SharedLocalizer["EditTask"]</h3>
    </div>
    <div asp-validation-summary="All" class="text-danger mt-2"></div>
    <form id="formdep" method="post" asp-controller="Task" asp-action="Edit" asp-route-projectId="@Model.ProjectId" enctype="multipart/form-data">
        <input type="hidden" asp-for="Id" />
        <div class="card-body row">
            <div class="mb-3 form-group col-6">
                <label asp-for="Name">@SharedLocalizer["Title"]</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="mb-3 form-group col-6">
                <label asp-for="AssignedTo">@SharedLocalizer["AssignTo"]</label>
                <select asp-for="AssignedTo" id="selectEmployee" class="custom-select rounded-0">
                </select>
                <span asp-validation-for="AssignedTo" class="text-danger"></span>
            </div>
            <div class="form-group col-4">
                <div class="form-group">
                    <label>@SharedLocalizer["StartDate"]</label>
                    <div class="input-group date" id="startD">
                        <input type="text" asp-for="StartDate" readonly id="StartTimePicker" class="form-control help-sidebar" data-title="@SharedLocalizer["ScheduleStartTimeTitle"]" data-description="@SharedLocalizer["ScheduleStartTimeDescription"]" placeholder="" />
                        <div class="input-group-append ">
                            <span class="input-group-text"><i id="sCalendar" class="fa fa-calendar"></i></span>
                        </div>
                    </div>

                </div>
            </div>
            <div class="form-group col-4">
                <div class="form-group">
                    <label>@SharedLocalizer["EndDate"]</label>
                    <div class="input-group date" id="endD">
                        <input type="text" asp-for="EndDate" id="EndTimePicker" readonly class="form-control help-sidebar" data-title="@SharedLocalizer["ScheduleEndTimeTitle"]" data-description="@SharedLocalizer["ScheduleEndTimeDescription"]" placeholder="" />
                        <div class="input-group-append ">
                            <span class="input-group-text"><i id="eCalendar" class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mb-3 form-group col-4">
                <label asp-for="StatusId">@SharedLocalizer["Status"]</label>
                <select asp-for="StatusId" id="selectStatus" class="custom-select rounded-0 form-control ">
                </select>
                <span asp-validation-for="StatusId" class="text-danger"></span>
            </div>

            <div class="col-sm-12">
                <div class="form-group">
                    <label>@SharedLocalizer["Description"]</label>
                    <div class="mb-3">
                        <div class="help-sidebar" data-title="@SharedLocalizer["DescriptionTitle"]" data-description="@SharedLocalizer["DescriptionDescription"]">
                            <textarea class="textarea" id="description" asp-for="Description" placeholder="@SharedLocalizer["EnterDescription"]"
                                      style="font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="modal-footer justify-content-between">
            <a asp-controller="Task" asp-action="Index" asp-route-projectId="@Model.ProjectId" class="btn btn-secondary" style="width:150px">@SharedLocalizer["BackToList"]</a>
            <button type="submit" class="btn bg-olive" style="width:150px">@SharedLocalizer["Update"]</button>
        </div>
    </form>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="~/lib/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script>
        $(document).ready(function () {

            $('#selectStatus').select2({
                ajax: {
                    data: function (params) {
                        return {
                            q: params.term, // search term
                        };
                    },

                    url: '@Url.Action("GetStatus","Task")',
                    processResults: function (data) {
                        return {
                            results: $.map(data, function (item) {
                                return {
                                    text: item.value,
                                    id: item.key,
                                }
                            })
                        };
                    }
                },
                // minimumInputLength: 1
                placeholder: '--Select Status--',
            });
            if ('@Model.Id' != '0') {
                var newOption = new Option('@Model.StatusName', '@Model.StatusId', null, true);
                $("#selectStatus").append(newOption);
            }


            $('#selectEmployee').select2({
                ajax: {
                    data: function (params) {
                        return {
                            q: params.term, // search term
                        };
                    },

                    url: '@Url.Action("GetTeamMembers","Task", new { projectId = Model.ProjectId})',
                    processResults: function (data) {
                        return {
                            results: $.map(data, function (item) {
                                console.log(item);
                                return {
                                    text: item.applicationUserVM.fullName,
                                    id: item.id,
                                }
                            })
                        };
                    }
                },
                // minimumInputLength: 1
                placeholder: '--Select Employee--',
            });
            if ('@Model.Id' != '0') {
                var newOption = new Option('@Model.AssignedToFullName', '@Model.AssignedTo', null, true);
                $("#selectEmployee").append(newOption);
            }

            // Date range picker
            $('#StartTimePicker').datetimepicker({
                format: 'dd/mm/yyyy hh:ii',
                autoclose: true,
                startView: 'month',
                pickerPosition: "bottom-right",
            }).on('changeDate', function (selected) {
                var startDate = new Date(selected.date.valueOf());
                $('#EndTimePicker').datetimepicker('setStartDate', startDate);
                $(this).valid();
            }).on('clearDate', function (selected) {
                $('#EndTimePicker').datetimepicker('setStartDate', null);
            });


            $('#sCalendar').on('click', function () {
                $('#StartTimePicker').trigger('focus');
            });

            $('#EndTimePicker').datetimepicker({
                format: 'dd/mm/yyyy hh:ii',
                autoclose: true,
                startView: 'month',
                pickerPosition: "bottom-right",
            }).on('changeDate', function (selected) {
                //debugger;
                //var abc = selected.date.valueOf();
                var endDate = new Date(selected.date.valueOf());
                $('#StartTimePicker').datetimepicker('setEndDate', endDate);
                $(this).valid();
            }).on('clearDate', function (selected) {
                $('#StartTimePicker').datetimepicker('setEndDate', null);
            });



            $('#eCalendar').on('click', function () {
                $('#EndTimePicker').trigger('focus');
            });

            $('#description').summernote({
                height: 100,
            });


        })
    </script>

    }